//LESSHAT properties
@import "lesshat.less";

@w3c: true;
@webkit: true;
@moz: true;
@opera: true;
@ms: true;
@oldWebkit: true;

@width: 200px;
@height: 150px;
@square_width: 84%;
@column_width: 13%;
@circle_radius: 5px;
@circle_border_size: 2px;
@circle_color: rgba(255, 255, 255, 0.9);
@selector_color: rgba(0, 0, 0, 0.5);
@bg_color: white;
@pointer_cursor: crosshair;
@selector_cursor: ns-resize;

body.unselectable {
  .user-select(none);
}

.picker {
  display: none;
  position: absolute;
  width: @width;
  height: @height;
  border: 1px solid gray;
  .box-sizing('border-box');
  padding: 5px;
  background-color: @bg_color;
  .map {
    cursor: @pointer_cursor;
    position: relative;
    width: @square_width;
    height: 100%;
    float: left;
    overflow: hidden;
    .pointer {
      height: @circle_radius*2;
      width: @circle_radius*2;
      margin: -@circle_radius;
      border: @circle_border_size solid @circle_color;
      .border-radius(@circle_radius*2);
      .box-sizing(border-box);
      position: absolute;
      pointer-events: none;
    }
  }
  .column {
    position: relative;
    cursor: @selector_cursor;
    width: @column_width;
    height: 100%;
    margin-left: 100% - @square_width - @column_width;
    float: left;
    //overflow: hidden;
    .selector {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: @selector_color;
      .box-sizing(border-box);
      pointer-events: none;
    }
  }
  &.hsv {
    .column {
      .background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
    }
  }
}